.x{
    background-color:rgb(33, 66, 123) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    height: 200px;
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 2%;
}


.c{
    /* background-image: url("/images/phone.webp");
    height: 500px;
    width: 500px;
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    font-family: monospace;
    color: rgb(24, 27, 28);
    background-position: center;
   */
   height: 150px;
   width: 450px;
   margin-left: 10px;
   border-radius: 3%;
   padding-top: 2%;
   font-family: serif;
   padding-left: 3%;
   color: aliceblue;
   
  }
  .i{
    
    height: 100px;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 80px;

  }