.x{
    background-color:rgb(33, 66, 123) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    height: 400px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 2%;
}


.c{
    /* background-image: url("/images/phone.webp");
    height: 500px;
    width: 500px;
    background-repeat: repeat-x;
    background-size: cover;
    display: flex;
    font-family: monospace;
    color: rgb(24, 27, 28);
    background-position: center;
   */
   background-color: aliceblue;
   height: 300px;
   width: 700px;
   /* margin-left: 350px;
   margin-top: 150px;
   text-align: center; */
   border-radius: 3%;
   padding-top: 2%;
   font-family: serif;
   padding-left: 3%;
   
  }