
.h{
   display: block;
   align-items: center;
   justify-content: space-around;
   width: 700px;
   height: 100px;
   margin-top: 100px;
   border-radius: 2%;

   
}

.b{
   width:500px;
   height:400px;
   margin-left:50px;
   margin-top: 10px; 
   margin-bottom: 100px;
   border-radius: 2%;
   font-family: serif;
   text-align: center;
   padding-top: 120px;
   color: rgb(23, 23, 24);
   color: aliceblue;
  }

 .g{
   color: aliceblue;
   margin-left: 100px;
   font-family: serif;
   margin-top: 200px;
   
 }
 .t{
   color: aliceblue;
   font-family: serif;
   margin-left: 600px;
   width: 700px;
   margin-top: 190px;
 }
 .im{

 }
 .v{
    margin-top: 20px;
    /* display: flex; */
 }
 
 