
.h{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: rgb(33, 66, 123);
   width: 650px;
   height: 500px;
   margin-left: 400px;
   margin-top: 50px;
   border-radius: 2%;

   
}

.b{
   /* background-image: url("/images/layout.png");
   width: 500px;
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   font-family: monospace;
   background-color: black;
   color: beige;
   background-position: center;
   text-align: center; */
   background-color:rgb(228, 235, 247);
   width:500px;
   height:400px;
   margin-left: 90px;
   margin-top: 150px; 
   margin-bottom: 100px;
   border-radius: 2%;
   font-family: serif;
   text-align: center;
   padding-top: 120px;
   color: rgb(23, 23, 24);
  }

 .g{
   background-image: url('/src/images/home\ img.jpeg');
   margin-right: 400px;
   margin-top: 50px;
   border-radius: 2%;
 }
 