.K{
    /* background-image: url("/images/m\ lay.jpg"); */
    background-color: rgb(39, 125, 106);
    background-size: cover;
    height: 750px;
    width: auto;
    
    /* background-size: cover;
    background-repeat: no-repeat; */

   
  }