.K{
    
    /* background-color: rgb(39, 125, 106);
    background-size: cover;
    height: 750px;
    width: auto; */
    
   background-image: url('/src/images/main\ page.jpg');
   width:1470px;
   height:1550px;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

   

   
  }